**/.vscode/
node_modules

#Hardhat + Foundry files
cache
artifacts
cache_hardhat
hardhat-cache
forge-cache
out

#local dev help
tasks/maps
tasks/signers
*whitelist.json

.env
.env.pnm

#PNM files
crashes
reports
pnm-cov.json
/curio-vault/
